h1 {
  text-align: center;
}

.container {
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
}

.marker {
  margin: 10px auto;
  height: 25px;
  width: 200px;
}

.cap {
  width: 60px;
  height: 25px;
}

.sleeve {
  width: 110px;
  height: 25px;
  background-color: rgba(255, 255, 255, 50%);
}

.cap,
.sleeve {
  display: inline-block;
}

/* построение линейного градиента с помощью цветовой схемы RGB */
.red {
  background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
}

/* построение линейного градиента с помощью цветовой схемы HEX */
.green {
  background: linear-gradient(#55650d, #71f53e, 116c31);
}

/* построение линейного градиента с помощью цветовой схемы HSL */
.blue {
  background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
}