h1 {
  text-align: center;
}

.marker {
  margin: 10px auto;
  height: 25px;
  width: 200px;
}

.one {
  background-color: #ff0000;
}

.two {
  background-color: #008000;
}

.three {
  background-color: #0000ff;
}